@import 'todomvc-app-css';

.toggle-all {
  width: 40px;
  height: 60px;
  right: auto;
}

.toggle-all-label {
  pointer-events: none;
}

.clear-completed:disabled {
  display: none;
}

.todo-list li {
  height: 65px;
}

.todo-list li label {
  padding: 19px 15px 18px 60px;
}
