@import 'todomvc-app-css';

.toggle-all {
  width: 40px;
  height: 60px;
  right: auto;
}

.toggle-all-label {
  pointer-events: none;
}

.destroy,
.toggle,
.toggle-all {
  cursor: pointer;
}

.clear-completed:disabled {
  display: none;
}

.todo-list li {
  height: 65px;

  label {
    padding: 19px 15px 18px 60px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
